<table class="row content">
  <tr>
    <td class="content__cell">
      <center>
        <table class="container">
          <tr>
            <td>
              <h2>{{ email_title }}</h2>
              <p>{{ email_body }}</p>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
