/*
 * Shopify's default stylesheet
 * - this can be found (minified) by visiting:
 *
 *   www.you-shop.myshopify.com/assets/notifications/styles.css
 */

body {
    margin: 0
}

.body {
    height: 100% !important;
    width: 100% !important
}

.row {
    width: 100%
}

.container {
    width: 560px;
    text-align: left;
    margin: 0 auto
}

@media (max-width: 600px) {
    .container {
        width: 94% !important
    }
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0
}

h1, h1 a, h1 a:hover, h1 a:active, h1 a:visited {
    font-size: 30px;
    color: #333
}

h2 {
    font-size: 24px;
    margin-bottom: 10px
}

h3 {
    font-size: 20px;
    margin-bottom: 25px
}

h4 {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin-bottom: 5px
}

p {
    margin: 0;
    color: #777;
    line-height: 150%
}

p+p {
    margin-top: 15px
}

span, strong, del, a, p {
    font-size: 16px
}

strong {
    color: #555
}

small {
    font-size: 14px;
    color: #999
}

a, a:hover, a:active, a:visited {
    text-decoration: none
}

.actions {
    margin-top: 20px
}

.main-action-cell {
    float: left;
    margin-right: 15px
}

@media (max-width: 600px) {
    .main-action-cell {
        float: none !important;
        margin-right: 0 !important
    }
}

.secondary-action-cell {
    margin-top: 19px
}

@media (max-width: 600px) {
    .secondary-action-cell {
        text-align: center;
        width: 100%
    }
}

.section {
    border-top: 1px solid #e5e5e5
}

.section__cell {
    padding: 40px 0
}

.content__cell {
    padding-bottom: 40px
}

.text-icon-row td {
    padding-bottom: 5px
}

.text-icon {
    padding-right: 8px
}

.text-icon__image {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle
}

.header {
    margin: 40px 0 20px
}

@media (max-width: 600px) {
    .header {
        margin-top: 20px !important;
        margin-bottom: 2px !important
    }
}

@media (max-width: 600px) {
    .shop-name__cell {
        display: block
    }
}

.order-number__cell {
    text-transform: uppercase;
    font-size: 14px;
    text-align: right;
    color: #999
}

@media (max-width: 600px) {
    .order-number__cell {
        display: block;
        text-align: left !important;
        margin-top: 20px
    }
}

@media (max-width: 600px) {
    .button {
        width: 100%
    }
}

.button__cell {
    text-align: center;
    padding: 20px 25px;
    border-radius: 4px
}

.button__text, .button__text:hover, .button__text:active, .button__text:visited {
    color: #fff;
    text-decoration: none
}

.or {
    color: #999;
    display: inline-block;
    margin-right: 10px
}

@media (max-width: 600px) {
    .or {
        margin-right: 0 !important
    }
}

.apple-wallet-button {
    display: block;
    margin-top: 15px
}

@media (max-width: 600px) {
    .apple-wallet-button {
        text-align: center
    }
}

.customer-info__item {
    padding-bottom: 40px;
    width: 50%
}

@media (max-width: 600px) {
    .customer-info__item {
        display: block;
        width: 100% !important
    }
}

.customer-info__item--last {
    padding-bottom: 0
}

.customer-info__item-credit {
    height: 24px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: -6px
}

.footer {
    border-top: 1px solid #e5e5e5
}

.footer__cell {
    padding: 35px 0
}

.disclaimer__subtext {
    font-size: 14px;
    color: #999
}

.disclaimer__subtext a {
    font-size: 14px
}

.spacer {
    min-width: 600px;
    height: 0
}

@media (max-width: 600px) {
    .spacer {
        display: none
    }
}

.order-list__item {
    width: 100%;
    border-bottom: 1px solid #e5e5e5
}

.order-list__item--single, .order-list__item--last {
    border-bottom: none !important
}

.order-list__item__cell {
    padding: 15px 0
}

.order-list__item--single .order-list__item__cell, .order-list__item--first .order-list__item__cell {
    padding-top: 0 !important
}

.order-list__item--single .order-list__item__cell, .order-list__item--last .order-list__item__cell {
    padding-bottom: 0 !important
}

.order-list__product-image {
    margin-right: 15px;
    border: 1px solid #e5e5e5;
    border-radius: 8px
}

.order-list__product-description-cell {
    width: 100%
}

.order-list__item-title {
    font-weight: 600;
    line-height: 1.4;
    color: #555
}

.order-list__item-variant {
    color: #999;
    font-size: 14px
}

.order-list__item-original-price {
    display: block;
    text-align: right;
    color: #999;
    font-size: 14px
}

.order-list__item-price {
    font-weight: 600;
    text-align: right;
    margin-left: 15px;
    color: #555
}

.order-list__price-cell {
    white-space: nowrap
}

.subtotal-lines {
    margin-top: 15px;
    border-top: 1px solid #e5e5e5
}

.subtotal-table {
    margin-top: 20px
}

.subtotal-line td {
    padding: 5px 0
}

.subtotal-line__value {
    text-align: right
}

.subtotal-line__title p {
    line-height: 1.2em
}

.subtotal-table--total {
    border-top: 2px solid #e5e5e5
}

.subtotal-table--total td {
    padding: 20px 0 0
}

.subtotal-table--total .subtotal-line__value strong {
    font-size: 24px
}

.subtotal-table--payment-methods {
    border-top: 1px solid #e5e5e5
}

.subtotal-table--payment-methods p, .subtotal-table--payment-methods strong {
    color: #999;
    font-size: 14px
}

.subtotal-table__small-space {
    height: 10px
}

.subtotal-table__line {
    border-bottom: 1px solid #e5e5e5;
    height: 1px;
    padding: 0
}

.subtotal-spacer {
    width: 40%
}

@media (max-width: 600px) {
    .subtotal-spacer {
        display: none
    }
}
